<li class="external-link"><a href="https://github.com/jacobxie" title="JacobXie"><i class="fa fa-github fa-3x"></i> GitHub</a></li>
<li class="external-link"><a target="_blank" href="mailto:xieyuehong2010@gmail.com" title="xieyuehong2010@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
