{{!< default}}
<main>
    <article class="{{post_class}}">
        {{#post}}
        <section class="posts">
            {{content}}
            <hr />
        </section>
        
        {{disqus}}
        
        {{/post}}

    </article>
</main>
